<!DOCTYPE html>
<html lang="en-us">
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>R We There Yet To The Olympics</title>

    <!-- Boostrap Stylesheet -->
    <link rel="stylesheet" href="working_dir/assets/css/bootstrap.min.css" media="screen">

    <!-- Our own CSS stylesheet -->
    <link rel="stylesheet" href="working_dir/assets/css/styles.css" media="screen">

  </head>

  <body>
    <!-- Start of navbar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid navbar-custom">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="row">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle Navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="col-xs-9 phone-nav">
              <a class="navbar-brand" href="index.html" id="logo">Olympic Games Data</a>
            </div>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right navbar-right-custom">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Sources <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="https://www.kaggle.com/datasets/heesoo37/120-years-of-olympic-history-athletes-and-results">120 Years of Complete Olympic History</a></li>
                    <li><a href="https://www.kaggle.com/datasets/jonscheaffer/olympic-host-cities">Olympic Host Cities</a></li>
                   </ul>
              </li>
              <li><a href="funfacttest.html">Fun Facts</a></li>
              <li><a href="tableData.html">Data</a></li>
              <li><a href="index.html">Home</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div>
      </div><!-- /.container-fluid -->
    </nav>
    <!-- End of navbar -->

    <!-- Start of container -->
    <div class="container">
        <br>
        <section class="row">
          <!-- left side -->
          <div class="col-md-8 divbdy">
            <article class="description-content">
            <br>
            <h1 class="description-header">Six Fun Fact about Olympic</h1>
            <hr>
            <img src="assets/images/threeMedal.jpg" alt="Gold medals are mostly made of silver" width="280" align="left">
            <p>Despite the widespread belief that the gold medal is composed of pure gold, this has not been the case since the 1912 Olympics. Today’s Olympic gold medal is an imposter, made almost entirely from silver with approximately 6 grams of gold to meet the standard laid out in the Olympic Charter. Assuming the 2022 Beijing Winter Olympics medals weigh the same as those from the 2020 Tokyo Summer Olympics (556 grams), an Olympic medal made of pure gold would cost close to $32,000 based on current market prices.</p>
            <img src="assets/images/threeMedal.jpg" alt="The Three Medal Format" width="280" align="left">
            <p>In the ancient Olympics, there was just one medal - gold for the winner. In the advent of the modern Olympic Games, gold, silver and bronze medals were all awarded to the top three competitors in each event.</p>
            <img src="assets/images/fiveRing.jpg" alt="At least one of the Olympic Rings' colors appears in every national flag" width="280" align="left">
            <p>Baron Pierre de Coubertin, founder of the modern Olympic Movement, conceived of the five-ringed symbol. He specifically chose the different colors—blue, green, yellow, black, and red—because at least one of those colors appeared on all the national flags of the world.</p>
            <img src="assets/images/nude.jpeg" alt="Athletes in the ancient Olympic Games competed in the nude" width="280" align="left">
            <p>In fact, the word “gymnasium” comes from the Greek root “gymnos” meaning nude. As such, the literal translation of gymnasium is “school for naked exercise.”
            </p>
            <img src="assets/images/womenInOlympic.jpg" alt="Women In Olympic" width="280" align="left">
            <p>Women competed for the first time at the 1900 Games in Paris. Of a total of 997 athletes, 22 women competed in five sports: tennis, sailing, croquet, equestrianism and golf.”
            </p>
            <img src="assets/images/bite.jpg" alt="The Tradition of Biting Olympic Medals" width="280" align="left">
            <p>Ever seen Olympians biting their medals during the awards ceremony and wondered why they do that? Well, it harks back to ages past, where merchants would check a coin was indeed the precious metal they required and not a lead forgery. A lead coin would leave teeth marks, while a gold coin would not.”
            </p>

            <hr>
          </article>
          </div>
          <!-- left side end -->
          
        </div>
      </section>
      </div>
    
   <!-- End of container -->
  


  <!-- Start of footer -->
  <footer class="footer navbar-fixed-bottom">
    <div class="two-toned-footer-color"></div>
    <p class="text-muted text-muted-footer text-center">
      <b>&copy; Copyright The Data Olympians 2022</b>
    </p>
  </footer>
  <!-- End of footer -->
  <!-- jQuery CDN -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <!-- Bootstrap CDN -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script type="text/javascript" src="static/js/logic.js"></script>
  <script type="text/javascript" src="static/js/apptest.js"></script>

</body>
</html>